target/
data/
node_modules/
package.json
package-lock.json
pnpm-lock.yaml
types.d.ts
tsconfig.json
vite.config.ts
vite.generated.ts
/src/main/frontend/generated
/src/main/frontend/index.html
/src/main/bundles
.settings
.project
.classpath
*.iml
.idea/
.vscode/
.claude/
